Iterative calculation using secant method. Case study: Airy wave theory

In [1]:
import pandas as pd  #analysis table
import numpy as np   #python mathematical tool

In [8]:
#input awal
g = 9.81
T = 6
depth = 15

#masukkan function yang di inginkan
def f(L):
    return ( g/(2*np.pi) * (T**2) * np.tanh ((2*np.pi*depth)/L) ) - L

#input variabel awal
L0 = 1
L1 = 2

In [9]:
#pembuatan recap dataframe
df_recap = pd.DataFrame()
df_recap['step']=np.arange(1,100,1)
df_recap['L0'] = np.nan
df_recap['L1'] = np.nan
df_recap['L2'] = np.nan
df_recap['error'] = np.nan
df_recap.iloc[0,1]=L0
df_recap.iloc[0,2]=L1
df_recap

    step   L0   L1  L2  error
0      1  1.0  2.0 NaN    NaN
1      2  NaN  NaN NaN    NaN
2      3  NaN  NaN NaN    NaN
3      4  NaN  NaN NaN    NaN
4      5  NaN  NaN NaN    NaN
..   ...  ...  ...  ..    ...
94    95  NaN  NaN NaN    NaN
95    96  NaN  NaN NaN    NaN
96    97  NaN  NaN NaN    NaN
97    98  NaN  NaN NaN    NaN
98    99  NaN  NaN NaN    NaN

[99 rows x 5 columns]

In [10]:
#iterative calculation
do_iteration = True
step = 1
while do_iteration == True:
    L2 = L0 - f(L0)*((L1-L0)/(f(L1)-f(L0)))

    df_recap.iloc[(step-1),3]=L2

    if abs(L2 - L1) < 0.000001:
        do_iteration = False
    else:
        L0 = L1
        L1 = L2
        df_recap.iloc[step,1]=L0
        df_recap.iloc[step,2]=L1
        step += 1
        df_recap['error'] = round((df_recap['L1'] - df_recap['L0'])/df_recap['L0']*100,4)

In [11]:
#menampilkan recapitulasi hasil perhitungan
df_recap.dropna(inplace=True)
jumlah_terasi = max(df_recap['step'])

print(f'telah dilakukan iterasi sebanyak {jumlah_terasi } kali')
df_recap

telah dilakukan iterasi sebanyak 6 kali

   step         L0         L1         L2      error
0     1   1.000000   2.000000  56.207160   100.0000
1     2   2.000000  56.207160  52.658608  2710.3580
2     3  56.207160  52.658608  53.070524    -6.3133
3     4  52.658608  53.070524  53.073191     0.7822
4     5  53.070524  53.073191  53.073188     0.0050
5     6  53.073191  53.073188  53.073188    -0.0000